#all-page {
  display: table;
  table-layout: fixed;
}
#game-list {
  display: table-cell;
  width: 20%;
}

#game-list .game-item {
  margin-top: 5px;
}
#current-game {
  width: 50%;
  display: table-cell;
  padding: 10px;
}
#actions-panel {
  width: 30%;
  display: table-cell;
}
#board {
  display: table;
  width: 558px;
  height: 560px;
}
.board-line {
  display: table-row;
}
.board-cell {
  display: table-cell;
  width: 54px;
  height: 54px;
}
.detective-token {
  width: 45px;
}
.bonus-detective-token {
  width: 45px;
  opacity: 0.7;
}
.cell-district {
  height: 150px;
  width: 150px;
  position: relative;
}
.district {
  z-index: 10;
  height: 150px;
  width: 150px;
  position: absolute;
}
.orientation-EAST {
  transform: rotate(270deg);
}
.orientation-NORTH {
  transform: rotate(180deg);
}
.orientation-WEST {
  transform: rotate(90deg);
}
.orientation-SOUTH-force {
  transform: rotate(0deg);
}
.orientation-EAST-force {
  transform: rotate(270deg);
}
.orientation-NORTH-force {
  transform: rotate(180deg);
}
.orientation-WEST-force {
  transform: rotate(90deg);
}
.orientation-SOUTH-force {
  transform: rotate(0deg);
}
.detective-middle-vertical {
  margin-top: 45px;
}
.detective-middle-horizontal {
  margin-left: 45px;
}
.detective-middle-vertical-moreThan1 {
  margin-top: 0;
}
.detective-middle-horizontal-moreThan1 {
  margin-left: 0;
}
.action-token {
  width: 60px;
  margin: 2px;
}
.select-district-tick {
  z-index: 120;
  width: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.select-district-tick {
  z-index: 120;
  width: 30px;
  position: absolute;
  top: 10px;
  left: 50px;
}
.mrjack-hourglass {
  width: 40px;
}
.mrjack-hourglass-missing {
  width: 40px;
  opacity: 0.4;
}
.alibi-card {
  width: 100px;
}

#game-list mat-card.selected {
  background-color: #3c7b9b;
  color: lightgrey;
}
.player-register {
  width: 100px;
  margin-right: 10px;
}
.game-list {
  height: 650px;
  overflow: scroll;
}

#sub-board-panel {
  height: 230px;
  overflow: scroll;
}

